{% set page = { title: 'Smuta' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'header' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <nav class="{{ _ }}__nav">
                    {% set  list = [
                        'День народного единства',
                        'Смутное время',
                        'Путешествие по Смуте',
                        'Символы'] %}

                    {% for item in list %}
                        <a href="#" class="{{ _ }}__nav-item">
                            {{ item }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        <a href="#" class="{{ _ }}__mobile-button">
        </a>
    </div>


    {% set  _ = 'main-slider' %}
    <div class="{{ _ }} custom-slick-dots">
        {% for i in range(1, 4) %}
            <div class="{{ _ }}__item">
                <picture class="{{ _ }}__bg">
                    <source media="(max-width: 767px)" srcset="images/{{ _ }}/1.webp">
                    <img loading="lazy" data-lazy="images/{{ _ }}/1.webp" alt="">
                </picture>
                <div class="{{ _ }}__wrap">
                    <div class="container">
                        <div class="{{ _ }}__content">
                            <div class="{{ _ }}__title">
                                День народного единства
                            </div>
                            <div class="{{ _ }}__subtitle">
                                4 ноября
                            </div>
                            <div class="{{ _ }}__text">
                                <strong>410 лет преодоления Смуты</strong> <br> и восстановления Российской
                                Государственности
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    {% set  _ = 'information' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__content">
                    <div class="{{ _ }}__main">
                        День народного единства был учреждён в память о событиях 1612 года, когда русский народ под
                        предводительством Минина и Пожарского положил конец Смутному времени — кризису, связанному с
                        пресечением правящей династии и вторжению польских войск.
                    </div>
                    <div class="{{ _ }}__detail">
                        <p>Смутное время — один из самых кризисных и судьбоносных периодов в истории нашей страны. В
                            начале XVII века мы едва не потеряли наш суверенитет и нашу государственность. Страна могла
                            навсегда исчезнуть с карты мира.</p>
                        <p>Пресечение династии Рюриковичей после смерти Ивана Грозного привело к фактическому распаду
                            русского государства, появлению самозванцев, воровству и нашествию польских интервентов.</p>
                        <p>Победа над захватчиками, преодоление раскола стали возможным благодаря народу — тысячам
                            добровольцев из разных сословий, сплотившихся вокруг национальных лидеров и сформировавшим
                            народное ополчение для защиты Родины.</p>
                        <p>События Смутного времени – есть исторический слепок характера русского народа, который взял
                            ответственность за судьбу Родины и её спасение. В память о подвиге нашего народа, не
                            допустившем исчезновение России, страна отмечает День народного единства.</p>
                        <br>
                        <br>
                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
                <div class="{{ _ }}-slider custom-slick-dots custom-slick-arrows">
                    {% for i in range(1, 8) %}
                        <a data-fancybox href="#information-popup" class="{{ _ }}-slider__item">
                            <div class="{{ _ }}-slider__img img">
                                <img data-lazy="images/{{ _ }}/1.jpg" alt=""/>
                            </div>
                            <div class="{{ _ }}-slider__text">
                                Современное значение праздника
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="{{ _ }}-popup" class="{{ _ }}-popup popup">
        <div class="{{ _ }}-popup__container">
            <div class="{{ _ }}-popup__title">
                Зарождение народного единства в Смутное время
            </div>
            <img src="images/{{ _ }}/1.webp" alt=""/>
            <p>Смутное время — один из самых кризисных и судьбоносных периодов в истории нашей страны. В начале XVII
                века мы едва не потеряли наш суверенитет и нашу государственность. Страна могла навсегда исчезнуть с
                карты мира.</p>
            <p>Пресечение династии Рюриковичей после смерти Ивана Грозного привело к фактическому распаду русского
                государства, появлению самозванцев, воровству и нашествию польских интервентов.</p>
            <p>Победа над захватчиками, преодоление раскола стали возможным благодаря народу — тысячам добровольцев
                из разных сословий, сплотившихся вокруг национальных лидеров и сформировавшим народное ополчение для
                защиты Родины.</p>
            <p>События Смутного времени – есть исторический слепок характера русского народа, который взял
                ответственность за судьбу Родины и её спасение. В память о подвиге нашего народа, не допустившем
                исчезновение России, страна отмечает День народного единства.</p>


        </div>
    </div>


    {% set  _ = 'history' %}
    <div class="{{ _ }}">
        <div class="{{ _ }}__snow img">

            <img src="images/{{ _ }}/1.gif" alt=""/>
        </div>
        <div class="{{ _ }}__bg">

        </div>
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h2 class="h2 title">
                    <span>С</span> мутное время
                </h2>
                <div class="{{ _ }}__line">

                    {% set  list = [{
                        title: 'Смерть Ивана IV Грозного',
                        subtitle: '1584 г. - 1584 г.'

                    },    {
                        title: 'Cкоропостижно скончался Борис Годунов',
                        subtitle: '1605 г.'
                    },   {
                        title: 'Земский собор',
                        subtitle: '1613 г .'
                    },   {
                        title: 'Россию из польского плена вернулся патриарх Филарет',
                        subtitle: '1619 г.'
                    }] %}


                    {% for item in list %}
                        <div class="{{ _ }}__item">
                            <a href="#" class="{{ _ }}__title">
                                {{ item.title }}
                            </a>
                            <div class="{{ _ }}__text">
                                Смутное время (Смута) - эпоха кризиса государственности, трактуемая рядом историков как
                                гражданская война. Сопровождалась народными выступлениями и мятежами, правлением
                                самозванцев, польскими и шведскими интервенциями, разрушением государственной власти и
                                разорением страны.
                            </div>
                            <div class="{{ _ }}__year">
                                {{ item.subtitle }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in list %}
                        <div class="{{ _ }}__item hide">
                            <a href="#" class="{{ _ }}__title">
                                {{ item.title }}
                            </a>
                            <div class="{{ _ }}__text">
                                Смутное время (Смута) - эпоха кризиса государственности, трактуемая рядом историков как
                                гражданская война. Сопровождалась народными выступлениями и мятежами, правлением
                                самозванцев, польскими и шведскими интервенциями, разрушением государственной власти и
                                разорением страны.
                            </div>
                            <div class="{{ _ }}__year">
                                {{ item.subtitle }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="#" class="{{ _ }}__more">
                    Показать больше

                    <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.999999L7.21905 6.33061C7.66844 6.7158 8.33156 6.7158 8.78095 6.33061L15 1"
                              stroke="white" stroke-opacity="1" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>



    {% include "./4.sections/section-3.njk" %}








{% endblock content %}