<div class="{{_}}-slider custom-slick-arrows custom-slick-dots">
    {% for i in range(1, 7) %}
        <div class="{{_}}-slider__item">
            <div class="{{_}}-slider__container">
                <div class="{{_}}-slider__img img">
                    <img data-lazy="images/{{ _ }}/2.webp" alt=""/>
                </div>
                <div class="{{_}}-slider__content">
                    <div class="{{_}}-slider__title">
                        Памятники Минину и Пожарскому
                    </div>
                    <div class="{{_}}-slider__text">
                        Подвиг беспримерного служения Отечеству лидерами народного ополчения Кузьмой Мининым и Дмитрием Пожарским увековечен в трёх скульптурных монументах
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi dicta eos esse et exercitationem harum, inventore itaque laborum, molestias nisi obcaecati odio, officia pariatur quisquam quod recusandae suscipit temporibus vel velit! Blanditiis delectus explicabo pariatur! Accusamus dolore expedita ipsum libero mollitia pariatur provident. Ad aspernatur assumenda at autem beatae consequatur culpa dicta distinctio dolorem eaque ex facilis fugiat ipsa iure, iusto magni neque non perferendis quo repellendus sequi sunt tempore vel. Amet error tempore tenetur. Blanditiis consequuntur cumque error maxime nostrum nulla provident. Animi aperiam corporis illum minima minus modi nam necessitatibus officia, officiis porro. Facere nam ut vero!
                    </div>
                    <a href="#" class="{{_}}-slider__more">
                        Показать больше
                        <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-opacity="1" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>